<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">{{title}}</h1>
        <div>{{jumbotronText1}}</div>
        <div>{{jumbotronText2}}</div>
        <p><a class="btn btn-primary btn-lg" routerLink="/triads" role="button">Try some guitar exercises &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Triads</h2>
          <p>Knowing the chord tones of Triads helps you break out of the pentatonic box, making your solos sound alive!</p>
          <p><a class="btn btn-secondary" routerLink="/triads" role="button">Triads &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Jazz Chords</h2>
            <p>If you want to play jazz guitar, you need to know jazz guitar chords. Try these intemediate guitar drills</p>
            <p><a class="btn btn-secondary" routerLink="/jazz" role="button">Jazz Chords &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Sight reading</h2>
            <p>Knowing your fretboard is important for intermediate guitar. Practice finding these notes!</p>
            <p><a class="btn btn-secondary" routerLink="/sight-reading" role="button">Sight reading &raquo;</a></p>
          </div>
      </div>

      <hr>

    </div> <!-- /container -->

  </main>