<!--<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>
                <div class="" id="output">{{jazzChord}}</div>
            </h1>
            <h2>
                <div id="counter" class="">Flashcards seen: {{count}}</div>
            </h2>
            <div class="">
                <button id="random" style="width:200px;height:200px" (click)="JazzChords()">Press me for Jazz
                    chords</button>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12"> Notes:
            <span *ngFor="let note of allNotes">
                <label>
                    <span class="right-spaced">
                        <span>{{note}}</span>
                        <input type="checkbox" checked value='{{note}}' data-md-icheck (change)="toggleNote($event)" />
                    </span>
                </label>
            </span>
        </div>
        <div class="col-md-12"> Guitar Strings:
            <span *ngFor="let guitarString of allGuitarStrings">
                <label>
                    <span class="right-spaced">
                        <span>{{guitarString}}</span>
                        <input type="checkbox" checked value='{{guitarString}}' data-md-icheck
                            (change)="toggleString($event)" />
                    </span>
                </label>
            </span>
        </div>
        <div class="col-md-12"> Chords:
            <span *ngFor="let chord of allChords">
                <label>
                    <span class="right-spaced">
                        <span>{{chord}}</span>
                        <input type="checkbox" checked value='{{chord}}' data-md-icheck
                            (change)="toggleChord($event)" />
                    </span>
                </label>
            </span>
        </div>
    </div>
</div>-->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div>
            <p class="lead flashcard"><span class="" id="output">{{jazzChord}}</span></p>

            <div id="counter" class="">Flashcards seen: {{count}}</div>

            <div class="">
                <button id="random" style="width:200px;height:200px" (click)="JazzChords()">Press me for Jazz
                    chords</button>
            </div>

            <div>Guitar Strings:
                <span class="col-sm-1" *ngFor="let guitarString of allGuitarStrings">
                    <label> <span class="right-spaced">
                            <span>{{guitarString}}</span>
                            <input type="checkbox" checked value='{{guitarString}}' data-md-icheck
                                (change)="toggleString($event)" />
                        </span>
                    </label>



                </span>
            </div>
            <div>
                <p> Notes:</p>
                <span class="col-sm-1" *ngFor="let note of allNotes">
                    <label>
                        <span class="right-spaced">
                            <span>{{note}} </span>
                            <input type="checkbox" checked value='{{note}}' data-md-icheck
                                (change)="toggleNote($event)" />
                        </span>
                    </label>
                </span>
            </div>
            <div>
                <p>Chords:</p>
                <span class="col-sm-1" *ngFor="let chord of allChords">
                    <label>
                        <span class="right-spaced">
                            <span>{{chord}} </span>
                            <input type="checkbox" checked value='{{chord}}' data-md-icheck
                                (change)="toggleChord($event)" />
                        </span>
                    </label>
                </span>
            </div>
            </div>
            <div>
                    <h2>
                        How to use jazz chords:
                    </h2>
                    <p>
                        Jazz Chords are amazing, becuase they allow you to instantly play along with many jazz greats. You can
                        start to play along to jazz backing tracks like
                        <a href="https://www.youtube.com/watch?v=Xjf2kiDO19Y" target="_blank">Autumn Leaves</a>. Not only are
                        you playing Jazz, but you're also learning the fretboard.
                        Knowing where the chords are allows you to use the chord tones when you're soloing over a progression.
                    </p>
                    <p class="lead">
                        Practice Tips:
                    </p>
                    <p>
                        Like a lot of intermediate guitar pratice tips, there isn't a lot of magic in this, just practice. Find
                        songs you love and learn to apply these chords!
                    </p>
                    <p>
                        Pick out a popular jazz song, pull up a backing track on Youtube, and go over all the chords you'll
                        need. After some practice, you're ready to play along
                        with the backing track. Don't be afraid to <em>slow down the backing track</em> until you're able to do
                        it full speed. A lot of the fingerings are hard, but
                        with consistant pracice, you'll be playing along in no time, and willhave learned your fretboard!
                    </p>
        
                </div>
        </div>
        <div class="col-md-4">
            <h1 class="content-lead">
                Jazz Chords <br/> Cheat Sheet:
            </h1>

            <div>
                Jazz Chords:
                Root note is marked with 'r'
                All other notes are relative to the root
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#major" role="button"
                            aria-expanded="false" aria-controls="major">
                            Major
                        </a>
                    </p>
                    <div class="collapse" id="major">
                        <div class="card card-body">
                            <span class="tab">
                                <div>e|-1r--1----------|</div>
                                <div>B|-1---3----------|</div>
                                <div>G|-2---3r---------|</div>
                                <div>D|-3---3----------|</div>
                                <div>A|-3---1r---------|</div>
                                <div>E|-1r--X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#minor" role="button"
                            aria-expanded="false" aria-controls="minor">
                            Minor
                        </a>
                    </p>
                    <div class="collapse" id="minor">
                        <div class="card card-body">
                            <span class="tab">
                                    <div>e|-1r--1----------|</div>
                                    <div>B|-1---2----------|</div>
                                    <div>G|-1---3r---------|</div>
                                    <div>D|-3---3----------|</div>
                                    <div>A|-3---1r---------|</div>
                                    <div>E|-1r--X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#maj7" role="button"
                            aria-expanded="false" aria-controls="maj7">
                            Major 7
                        </a>
                    </p>
                    <div class="collapse" id="maj7">
                        <div class="card card-body">
                            <span class="tab">
                                    <div>e|-X---X----------|</div>
                                    <div>B|-1---3----------|</div>
                                    <div>G|-2---2----------|</div>
                                    <div>D|-2---3----------|</div>
                                    <div>A|-X---1r---------|</div>
                                    <div>E|-1r--X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#min7" role="button"
                            aria-expanded="false" aria-controls="min7">
                            Minor 7
                        </a>
                    </p>
                    <div class="collapse" id="min7">
                        <div class="card card-body">
                            <span class="tab">
                                    <div>e|-X---1----------|</div>
                                    <div>B|-1---2----------|</div>
                                    <div>G|-1---1----------|</div>
                                    <div>D|-1---3----------|</div>
                                    <div>A|-X---1r---------|</div>
                                    <div>E|-1r--X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#dom7" role="button"
                            aria-expanded="false" aria-controls="dom7">
                            Dominant 7
                        </a>
                    </p>
                    <div class="collapse" id="dom7">
                        <div class="card card-body">
                            <span class="tab">
                                    <div>e|-X---X----------|</div>
                                    <div>B|-1---3----------|</div>
                                    <div>G|-2---1----------|</div>
                                    <div>D|-1---3----------|</div>
                                    <div>A|-X---1----------|</div>
                                    <div>E|-1---X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#halfDom7" role="button"
                            aria-expanded="false" aria-controls="halfDom7">
                            Minor 7/b5
                        </a>
                    </p>
                    <div class="collapse" id="halfDom7">
                        <div class="card card-body">
                            <span class="tab">
                                    <div>e|-X---X----------|</div>
                                    <div>B|-0---2----------|</div>
                                    <div>G|-1---1----------|</div>
                                    <div>D|-1---2----------|</div>
                                    <div>A|-X---1r---------|</div>
                                    <div>E|-1r--X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#min6" role="button"
                            aria-expanded="false" aria-controls="min6">
                            Minor 6
                        </a>
                    </p>
                    <div class="collapse" id="min6">
                        <div class="card card-body">
                            <span class="tab">
                                    <div>e|-1r--2----------|</div>
                                    <div>B|-1---0----------|</div>
                                    <div>G|-1---1----------|</div>
                                    <div>D|-0---0----------|</div>
                                    <div>A|-X---2r---------|</div>
                                    <div>E|-1r--X----------|</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>