<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="lead flashcard"><span class="" id="output">{{triad}}</span></p>
            
                <div id="counter" class="">Flashcards seen: {{count}}</div>
            
            <div class="">
                <button id="random" style="width:200px;height:200px" (click)="Triads()">Press me for Triads</button>
            </div> 

        </div>
        <div class="col-md-4">
            <h1>
                <div>How To Learn Guitar Triads:</div>
            </h1>
            
                <div>
                    Learing Guitar Triads
                </div>


        </div>
    </div>
    <div class="row">
        <div class="col-md-12"> Notes:
            <span *ngFor="let note of allNotes">
                <label>
                    <span class="right-spaced">
                        <span>{{note}}</span>
                        <input type="checkbox" checked value='{{note}}' data-md-icheck (change)="toggleNote($event)" />
                    </span>
                </label>
            </span>
        </div>
        <div class="col-md-12"> Guitar Strings:
            <span *ngFor="let guitarString of allGuitarStrings">
                <label>
                    <span class="right-spaced">
                        <span>{{guitarString}}</span>
                        <input type="checkbox" checked value='{{guitarString}}' data-md-icheck
                            (change)="toggleString($event)" />
                    </span>
                </label>
            </span>
        </div>
        <div class="col-md-12"> Chords:
            <span *ngFor="let chord of allChords">
                <label>
                    <span class="right-spaced">
                        <span>{{chord}}</span>
                        <input type="checkbox" checked value='{{chord}}' data-md-icheck
                            (change)="toggleChord($event)" />
                    </span>
                </label>
            </span>
        </div>
    </div>
</div>