<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="boo"></div>
      <h2>
        <div id="counter" class="text-center"></div>
      </h2>
      <div class="text-center">
        <button id="random" style="width:200px;height:200px" (click)="SightReading()">Press me for notes</button>
      </div>
      <div> Notes: 
        <span *ngFor="let note of allNotes">
          <label>
            <span class="right-spaced"> 
              <span >{{note}}</span>
              <input type="checkbox" checked value='{{note}}' data-md-icheck (change)="toggleNote($event)" />
            </span>
          </label>
        </span>
      </div>
      <div> Octaves: 
        <span *ngFor="let octave of allOctaves">
          <label>
            <span class="right-spaced">
              <span>{{octave}}</span>
              <input type="checkbox" checked value='{{octave}}' data-md-icheck (change)="toggleOctave($event)" />
            </span>
          </label>
        </span>
      </div>

    </div>
  </div>